<app-slide></app-slide>
<div class="container top-30">
  <div class="row">
    <div class="col-md-4 text-center">
      <img src="assets/img/artist.png" alt="artist"/>
      <hr>
      Testodo adkdkd sdfao kpkjmpwfw sdñdvp edf````dfe fds
    </div>
    <div class="col-md-4 text-center">
      <img src="assets/img/music.png" alt="music"/>
      <hr>
      Testodo adkdkd sdfao kpkjmpwfw sdñdvp edf````dfe fds
    </div>
    <div class="col-md-4 text-center">
      <img src="assets/img/album.png" alt="album"/>
      <hr>
      Testodo adkdkd sdfao kpkjmpwfw sdñdvp edf````dfe fds
    </div>
  </div>

</div>